<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poosay Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>Poosay Portal</h1>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='catpng.jpg') }}" alt="Logo">
            </div>
        </div>
        <div class="main-content">
            <h1>Poosay Portal</h1>
        </div>
    </div>
</body>
</html>